<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    <title>Admin Dash</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/styles.css' %}"></link>
</head>
<body>
    <div id="app">
        <button v-if="!state.no_active_game && !state.display_picture" v-on:click="togglePicture('1')" class="btn btn-danger">Show Picture</button>
        <button v-if="!state.no_active_game && state.display_picture" v-on:click="togglePicture('0')" class="btn btn-primary">Hide Picture</button>
        <div class="newGameSectionWrapper">
            <div class="newGameSection  white-container">
                <h2>Start New Game</h2>
                <select class="form-control" v-model="gameToStart">
                    <option value="0" disabled>Select a Question Set</option>
                    <option v-for="question_set in question_sets" v-bind:value="question_set.id">[[question_set.friendly_name]]</option>
                </select><br>
                <label for="">Team 1 Name:</label><input v-model="team1New" type="text"><br>
                <label for="">Team 2 Name:</label><input v-model="team2New" type="text"><br>
                <label for="cooperativeFM">Cooperative Fast Money:</label><input v-model="cooperativeFM" type="checkbox" id="cooperativeFM"><br>
                <p v-if="startNewGameError" class="alert alert-danger">[[startNewGameError]]</p>
                <button type="button" class="btn btn-primary" v-on:click="showNewGameModal">
                Start New Game
                </button>

                <!-- Confimation Modal-->
                <div class="modal fade" id="confirmNewGame" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to start a new game?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Starting a new game will reset ALL data regarding the current game including team scores.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" v-on:click="createNewGame(gameToStart)"  data-dismiss="modal" class="btn btn-primary">Start New Game</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="controls" v-if="!state.no_active_game">
            <div v-if="!state.is_fast_money" class="normalRound">
                <div class="scores">
                    <h3>Scores</h3>
                    <h4>[[state.team_1_name]]: [[ state.team_1_score ]]</h4>
                    <h4>[[state.team_2_name]]: [[ state.team_2_score ]]</h4>
                    <button v-on:click="revealEditScore" class="btn btn-primary">Manually Edit Scores</button><br><br>
                    <div v-if="showEditScore" class="edit-scores">
                        <label for="team_1_score">Team 1: </label><input class="form-control-inline" type="number" v-model="editTeam1"><br>
                        <label for="team_2_score">Team 2: </label><input class="form-control-inline" type="number" v-model="editTeam2"><br>
                        <button v-on:click="submitEditScore" class="btn btn-success">Update</button>
                        <button v-on:click="showEditScore = false" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
                <div class="question-info white-container">
                    <button v-on:click="revealBoard" v-if="state.display_logo" class="btn btn-success"> Reveal Board! </button>
                    <button v-on:click="hideBoard" v-if="!state.display_logo" class="btn btn-danger"> Hide Board </button>
                    <h3>Current Question: [[state.current_question.question_text]]</h3>
                    <h4>Total: [[state.question_total]]</h4>
                    <button v-if="!state.points_awarded" v-on:click="awardPoints('one')" class="btn btn-primary">Award Team 1 Points</button>
                    <button v-if="!state.points_awarded" v-on:click="awardPoints('two')" class="btn btn-primary">Award Team 2 Points</button>
                    <button v-if="state.points_awarded" v-on:click="unlockQuestion()" class="btn btn-danger">Unlock Question</button>
                    <table class='answers-table'>
                        <tr v-for="(value,index) in 4">
                            <td class="answer-text">
                                <p>[[ getAnswerInfo(index, 'answer_text') ]]</p>
                                <button class="btn btn-success display" v-if="!getAnswerInfo(index, 'currently_displayed') && getAnswerInfo(index, 'currently_displayed') !== ''" v-on:click="displayAnswer(getAnswerInfo(index, 'id'))">Display it!</button>
                                <button class="btn btn-danger display" v-if="getAnswerInfo(index, 'currently_displayed')" v-on:click="hideAnswer(getAnswerInfo(index, 'id'))">Hide It!</button>
                            </td>
                            <td class="answer-value">
                                <p>[[ getAnswerInfo(index, 'point_value')]]</p>
                            </td>
                            <td class="answer-text">
                                <p>[[ getAnswerInfo(index+4, 'answer_text') ]]</p>
                                <button class="btn btn-success display" v-if="!getAnswerInfo(index+4, 'currently_displayed') && getAnswerInfo(index+4, 'currently_displayed') !== ''" v-on:click="displayAnswer(getAnswerInfo(index+4, 'id'))">Display it!</button>
                                <button class="btn btn-danger display" v-if="getAnswerInfo(index+4, 'currently_displayed')" v-on:click="hideAnswer(getAnswerInfo(index+4, 'id'))">Hide It!</button>
                            </td>
                            <td class="answer-value">
                                <p>[[ getAnswerInfo(index+4, 'point_value') ]]</p>
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-danger wrong" v-on:click="addWrongAnswer">Wrong Answer</button>
                    <button class="btn btn-warning" v-on:click="showSingleX">Show Single X</button>
                    <br>
                    <b class="wrong-count" v-for="n in state.total_wrong">X </b>
                    <b class="wrong-count wrong-placeholder" v-for="n in 3 - state.total_wrong"> _</b>
                    <br>
                    <button v-on:click="revealEditWrong" class="btn btn-primary">Manually Edit Total Wrong</button><br>
                    <div v-if="showEditWrong" class="edit-wrong">
                        <select class="form-control" v-model="editTotalWrong">
                            <option v-for="n in 4" :value="n-1">[[n-1]]</option>
                        </select>
                        <br>
                        <button v-on:click="submitEditWrong('1')" class="btn btn-primary">Update and Buzz</button>
                        <button v-on:click="submitEditWrong('0')" class="btn btn-success">Update Silently</button>
                        <br>
                        <button v-on:click="showEditWrong = false" class="btn btn-danger">Cancel</button>
                    </div>
                    <br>
                    <button v-if="state.current_question.id != state.last_question.id" v-on:click="nextQuestion" class="btn btn-primary">Go to the Next Question!</button>
                    <p v-if="state.current_question.id == state.last_question.id"><b>Last Question Reached. <template v-if="state.fast_money.questions.length > 0"> Start Fast Money Next. </template></b></p>
                </div>
            </div>
            <div class="center-container">
                <button v-if="state.is_fast_money && Object.keys(state.last_question).length != 0" v-on:click="toggleFastMoney('0')" class="btn btn-primary">Go back to the Normal Rounds</button><br>
                <button v-if="!state.is_fast_money && state.fast_money.questions.length != 0" v-on:click="toggleFastMoney('1')" class="btn btn-primary">Start Fast Money</button>
            </div>

            <!-- Fast Money Section -->

            <div class="fast-money" v-if="state.is_fast_money">
                <h2>Fast Money</h2>
                <button v-on:click="revealBoard" v-if="state.display_logo" class="btn btn-success"> Reveal Board! </button>
                <button v-on:click="hideBoard" v-if="!state.display_logo" class="btn btn-danger"> Hide Board </button>
                <br><br>
                <button v-on:click="displayAnswersMenu = true" v-if="!displayAnswersMenu" class="btn btn-success"> Display Answers Menu </button>
                <button v-on:click="displayAnswersMenu = false" v-if="displayAnswersMenu" class="btn btn-danger"> Edit Answers </button>
                <br>
                <h3>Timer</h3>
                <input type="number" v-model="state.fast_money.timer"><br><br>
                <button v-on:click="setTimer" class="btn btn-primary">Set Timer</button>
                <button v-on:click="toggleDisplayTimer('1')" v-if="!state.fast_money.display_timer" class="btn btn-primary"> Show Timer</button>
                <button v-on:click="toggleDisplayTimer('0')" v-if="state.fast_money.display_timer" class="btn btn-primary"> Hide Timer</button>
                <button v-on:click="toggleTimer('1')" class="btn btn-success">Start Timer</button>
                <button v-on:click="toggleTimer('0')" class="btn btn-danger">Stop Timer</button>
                <br><br>
                <div class="center-container">
                    <!-- Player 1 Fast Money -->
                    <div class="white-container" v-if="currentPlayer == 1 && !displayAnswersMenu">
                        <h4>Player 1</h4>
                        <button v-on:click="swapCurrentPlayer(2)" class="btn btn-primary"> Swap to Player 2 </button><br><br>
                        <table class="fm-table">
                            <tr v-for="question in state.fast_money.questions">
                                <td class="fm-question">[[question.text]]</td>
                                <td class="fm-input"><input autocomplete="off" spellcheck="true" autocorrect="off" type="text" v-model="question['player_1_answer'].answer_text" v-on:blur="updateFastMoneyAnswer(question.id, 1, $event)"></td>
                                <td class="fm-select">
                                    <select name="" v-on:change="assignPointValue(question.id, 1, $event)" id="" v-model="question['player_1_answer'].answer_id">
                                        <option value="" disabled selected>Select an answer</option>
                                        <option  v-for="answer in fastMoneyAnswers[question.id]" :value="answer.id">[[answer.answer_text]] - [[answer.point_value]]</option>
                                        <option value="0">Incorrect - 0</option>
                                    </select>
                                </td>
                            </tr>                                                                                      
                        </table><br>
                    </div>
                    <!-- Player 2 Fast Money-->
                    <div class="white-container" v-if="currentPlayer == 2 && !displayAnswersMenu">
                        <h4>Player 2</h4>
                        <button v-on:click="swapCurrentPlayer(1)" class="btn btn-primary"> Swap to Player 1 </button><br><br>
                        <table  class="fm-table">
                            <tr v-for="question in state.fast_money.questions">
                                <td class="fm-question">[[question.text]]</td>
                                <td class="fm-input"><p>P1: <b>[[question['player_1_answer'].answer_text]]</b></p><input autocomplete="off" spellcheck="true" autocorrect="off" type="text" v-model="question['player_2_answer'].answer_text" v-on:blur="updateFastMoneyAnswer(question.id, 2, $event)"></td>
                                <td class="fm-select">
                                    <select name="" v-on:change="assignPointValue(question.id, 2, $event)"  v-model="question['player_2_answer'].answer_id" id="">
                                        <option value="" disabled selected>Select an answer</option>
                                        <option  v-for="answer in fastMoneyAnswers[question.id]" :value="answer.id">[[answer.answer_text]] - [[answer.point_value]]</option>
                                        <option value="0">Incorrect - 0</option>
                                    </select>
                                </td>
                            </tr>                                                                                            
                        </table><br>
                        <button v-on:click="signalRepeatedAnswer" class="btn btn-danger">Repeated Answer</button><br><br>
                    </div>

                    <div v-if="displayAnswersMenu" class="white-container">
                        <h1>Answers</h1>
                        <table  class="fm-table">
                            <tr>
                                <th>Question</th>
                                <th>
                                    Player 1 <br>
                                    <button v-on:click="togglePlayer1Answers('0')" class="btn btn-primary">Hide All</button>
                                    <button v-on:click="togglePlayer1Answers('1')" class="btn btn-danger">Display All</button>
                                </th>
                                <th>Player 2</th>
                            </tr>
                            <tr v-for="question in state.fast_money.questions">
                                <td class="fm-question">[[question.text]]</td>
                                <td>
                                    <p v-if="question['player_1_answer'].answer_text"><b>[[question['player_1_answer'].answer_text]]</b> - [[question['player_1_answer'].point_value]]</p>
                                    <p v-if="!question['player_1_answer'].answer_text"><i>No answer provided</i> - [[question['player_1_answer'].point_value]]</p>
                                    <button v-if="!question['player_1_answer'].display_answer" v-on:click="toggleFastMoneyAnswer(question.id, 1, '1')" class="btn btn-success">Display User Answer</button>
                                    <button v-if="question['player_1_answer'].display_answer" v-on:click="toggleFastMoneyAnswer(question.id, 1, '0')" class="btn btn-danger">Hide User Answer</button>
                                    <button v-if="!question['player_1_answer'].display_value" v-on:click="toggleFastMoneyValue(question.id, 1, '1')" class="btn btn-success">Display Point Value</button>
                                    <button v-if="question['player_1_answer'].display_value" v-on:click="toggleFastMoneyValue(question.id, 1, '0')" class="btn btn-danger">Hide Point Value</button>
                                </td>
                                <td>
                                    <p v-if="question['player_2_answer'].answer_text"><b>[[question['player_2_answer'].answer_text]]</b> - [[question['player_2_answer'].point_value]]</p>
                                    <p v-if="!question['player_2_answer'].answer_text"><i>No answer provided</i> - [[question['player_2_answer'].point_value]]</p>
                                    <button v-if="!question['player_2_answer'].display_answer" v-on:click="toggleFastMoneyAnswer(question.id, 2, '1')" class="btn btn-success">Display User Answer</button>
                                    <button v-if="question['player_2_answer'].display_answer" v-on:click="toggleFastMoneyAnswer(question.id, 2, '0')" class="btn btn-danger">Hide User Answer</button>
                                    <button v-if="!question['player_2_answer'].display_value" v-on:click="toggleFastMoneyValue(question.id, 2, '1')" class="btn btn-success">Display Point Value</button>
                                    <button v-if="question['player_2_answer'].display_value" v-on:click="toggleFastMoneyValue(question.id, 2, '0')" class="btn btn-danger">Hide Point Value</button>
                                </td>
                            </tr>   
                        </table>
                    </div>
                    <button v-if="state.display_winner_screen" v-on:click="hideWinnerScreen" class="btn btn-primary winner">Hide Winner Screen</button> <button v-on:click="showWinnerModal" class="btn btn-primary winner">Declare a Winner</button>
                                    <!-- Declare winner modal-->
                    <div class="modal fade" id="winnerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Are you ready to declare a winner?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Please type in the name of the winner and click 'Show Winner Screen'!</p>
                                    <label for="">Name:</label>
                                    <input v-model="winnerName" type="text">
                                    <p><b>Preview: </b>Congratulations [[winnerName]]!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="button" v-on:click="displayWinnerScreen"  data-dismiss="modal" class="btn btn-primary">Show Winner Screen</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{% static 'base/js/vue.min.js' %}"></script>
<script src="{% static 'base/js/axios.min.js' %}"></script>
<script src="{% static 'base/js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'base/js/popper.min.js' %}"></script>
<script src="{% static 'base/js/bootstrap.min.js' %}"></script>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    question_set_list = {{question_sets}}
    state = {{state}}
    console.log(state)
    fast_money_answers = {{fast_money_answers}}

    if (!state.no_active_game) {
        state.current_answers.sort(function (a, b) { return (a.point_value < b.point_value) ? 1 : -1}) // We sort the answers by score value so that the highest value is first,
    }

    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            question_sets: question_set_list,
            startNewGameError: '',
            state: state,
            gameToStart: 0,
            fastMoneyAnswers: fast_money_answers,
            showEditScore: false,
            editTeam1: 0,
            editTeam2: 0,
            showEditWrong: false,
            editTotalWrong: 0,
            player1Answers:{},
            player2Answers:{},
            showModal: true,
            currentPlayer: 1,
            team1New: '',
            team2New: '',
            cooperativeFM: true,
            winnerName: '',
            displayAnswersMenu: false,
        },
        methods: {
            showNewGameModal: function (){
                if (this.gameToStart == 0) {
                    this.startNewGameError = 'You must select a valid question set.';
                } else if (this.team1New == '' || this.team2New == '') {
                    this.startNewGameError = 'Please supply names for the teams.'
                } else {
                    this.startNewGameError = '';
                    $('#confirmNewGame').modal();
                }
            },
            showWinnerModal: function (){
                $('#winnerModal').modal();
            },
            displayWinnerScreen: function(){
                var formData = new FormData()
                formData.set('winner', this.winnerName)
                axios({
                    method: 'post',
                    url: '/base/admin/displayWinnerScreen/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            hideWinnerScreen: function(){
                var formData = new FormData()
                axios({
                    method: 'post',
                    url: '/base/admin/hideWinnerScreen/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            swapCurrentPlayer: function (player) {
                this.currentPlayer = player;
            },
            displayAnswer: function(answerId) {
                console.log("")
                var formData = new FormData()
                formData.set('answerId', answerId)
                axios({
                    method: 'post',
                    url: '/base/admin/displayAnswer/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state'];
                    }
                })
            },
            hideAnswer: function(answerId) {
                var formData = new FormData()
                console.log("Hiding - "+ answerId)
                formData.set('answerId', answerId)
                axios({
                    method: 'post',
                    url: '/base/admin/hideAnswer/',
                    data: formData
                }).then(function (response) {
                    console.log(response)
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            addWrongAnswer: function(e) {
                axios({
                    method: 'post',
                    url: '/base/admin/addWrong/'
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            awardPoints: function(team) {
                var formData = new FormData()
                formData.set('teamToReward', team)
                axios({
                    method: 'post',
                    url: '/base/admin/awardPoints/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            nextQuestion: function() {
                axios({
                    method: 'post',
                    url: '/base/admin/nextQuestion/'
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            showSingleX: function() {
                axios({
                    method: 'post',
                    url: '/base/admin/showSingleX/'
                })
            },
            createNewGame: function(gameId) {
                var formData = new FormData()
                formData.set('game', gameId);
                formData.set('team1Name', this.team1New);
                formData.set('team2Name', this.team2New);
                formData.set('cooperativeFM', this.cooperativeFM);
                axios({
                    method: 'post',
                    url: '/base/admin/createGame/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state'];
                        app.fastMoneyAnswers = response['data']['fastMoneyAnswers'];
                        app.team1New = '';
                        app.team2New = '';
                        app.currentPlayer = 1;
                        app.displayAnswersMenu = false;
                    }
                })
            },
            getAnswerInfo: function (number, data) { // Supply the answer number (the order it's in the array, the highest value one being '1') and the data you need, 'text' or 'value'
                // We're using this to handle undefined values since we won't alway have 8 questions
                if (this.state.current_answers[number]) {
                    return this.state.current_answers[number][data]
                } else {
                    return ''
                }

            },
            revealEditScore: function() {
                this.editTeam1 = this.state.team_1_score;
                this.editTeam2 = this.state.team_2_score;
                this.showEditScore = true;
            },
            submitEditScore: function() {
                var formData = new FormData()
                formData.set('teamOnePoints', this.editTeam1)
                formData.set('teamTwoPoints', this.editTeam2)
                axios({
                    method: 'post',
                    url: '/base/admin/editPoints/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
                this.showEditScore = false;
            },
            revealBoard: function() {
                axios({
                    method: 'post',
                    url: '/base/admin/revealBoard/'
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            hideBoard: function() {
                axios({
                    method: 'post',
                    url: '/base/admin/hideBoard/'
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            revealEditWrong: function () {
                this.editTotalWrong = this.state.total_wrong;
                this.showEditWrong = true;
            },
            submitEditWrong: function(showBuzzer) {
                var formData = new FormData()
                formData.set('totalWrong', this.editTotalWrong)
                formData.set('showBuzzer', showBuzzer)
                axios({
                    method: 'post',
                    url: '/base/admin/editTotalWrong/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
                this.showEditWrong = false;
            },
            updateFastMoneyAnswer: function(question, player, inputEvent) {
                answer = inputEvent.target.value;
                var formData = new FormData();
                formData.set('answer', answer);
                formData.set('question', question);
                formData.set('player', player);
                axios({
                    method: 'post',
                    url: '/base/admin/answerFastMoney/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            assignPointValue: function(question, player, event) {
                answer = event.target.value;
                var formData = new FormData();
                formData.set('answer_id', answer);
                formData.set('question', question);
                formData.set('player', player);
                axios({
                    method: 'post',
                    url: '/base/admin/assignPointValue/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            toggleFastMoneyAnswer: function(question_id, player,displayIt) {
                var formData = new FormData();
                formData.set('question', question_id);
                formData.set('displayIt', displayIt)
                formData.set('player', player);
                axios({
                    method: 'post',
                    url: '/base/admin/toggleFastMoneyAnswer/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            toggleFastMoneyValue: function(question_id, player, displayIt) {
                var formData = new FormData();
                formData.set('question', question_id);
                formData.set('displayIt', displayIt)
                formData.set('player', player);
                axios({
                    method: 'post',
                    url: '/base/admin/toggleFastMoneyValue/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            togglePlayer1Answers: function(displayIt) {
                var formData = new FormData();
                formData.set('displayIt', displayIt);
                axios({
                    method: 'post',
                    url: '/base/admin/togglePlayer1Answers/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state'];
                    }
                });
            },
            toggleTimer: function(startTimer) {
                var formData = new FormData();
                formData.set('startTimer', startTimer)
                axios({
                    method: 'post',
                    url: '/base/admin/toggleTimer/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            toggleDisplayTimer: function(displayTimer) {
                var formData = new FormData();
                formData.set('displayTimer', displayTimer)
                axios({
                    method: 'post',
                    url: '/base/admin/toggleDisplayTimer/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            setTimer: function() {
                var formData = new FormData();
                formData.set('timer', this.state.fast_money.timer);
                axios({
                    method: 'post',
                    url: '/base/admin/setTimer/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            toggleFastMoney: function(startFastMoney) {
                var formData = new FormData();
                formData.set('startFastMoney', startFastMoney);
                axios({
                    method: 'post',
                    url: '/base/admin/toggleFastMoney/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            unlockQuestion: function() {
                axios({
                    method: 'post',
                    url: '/base/admin/unlockQuestion/'
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },
            signalRepeatedAnswer: function() {
                axios({
                    method: 'post',
                    url: '/base/admin/signalRepeatedAnswer/'
                })
            },
            togglePicture: function(displayIt) {
                var formData = new FormData();
                formData.set('display_picture', displayIt);
                axios({
                    method: 'post',
                    url: '/base/admin/togglePicture/',
                    data: formData
                }).then(function (response) {
                    if (response['data']['isSuccessful']) {
                        app.state = response['data']['state']
                    }
                })
            },

        }
        
    })

</script>
</html>