<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Button</title>
</head>
<body>
    <div id="app">
        <button v-if="showHello" type="button" v-on:click="sendMesssage(false)" class="btn btn-danger">Remove It!</button>
        <button v-if="!showHello" type="button" v-on:click="sendMesssage(true)" class="btn btn-primary">Display It!</button>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            showHello: false,
            displaySocket: new WebSocket(
                'ws://' + window.location.host + '/ws/display/'
            )
        },
        methods: {
            sendMesssage: function(display) {
                this.displaySocket.send(JSON.stringify({
                    'display': display
                }))
            },
            receiveMessage: function (e) {
                var data = JSON.parse(e.data);
                this.showHello = data['display']
            }
        }
    })

    app.displaySocket.onmessage = function(e) {
        app.receiveMessage(e);
    }  
</script>
</html>